.intro-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;
  flex-wrap: wrap;
  text-decoration: none;
  align-items: center;
  font-family: Inconsolata;
  width: 20px;
  font-size: 24px;
}

a:hover{
  color: white;
}

.intro-header {
  display: flex;
  justify-content: left;
  font-family: Inconsolata;
  font-size: 42px;
  font-weight: bold;
  margin-top: 200px;
  margin-left: 25px;
  z-index: 100;
  transition: color 0.15s
}

body {
  background-color: rgb(105, 179, 231);
}
