<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Lion Dine</title>
    <link rel="stylesheet" href="..\static\header.css">
    <link rel="stylesheet" href="..\static\general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">Dinner</header>
    <div class="var" id="halls"></div>
    <div class="meals-container">
      <a href="breakfast.html">Breakfast</a>
      <a href="lunch.html">Lunch</a>
      <a href="index.html">Home</a>
    </div>
    <div class="container">
      <a href="https://dining.columbia.edu/content/john-jay-dining-hall" target="_blank">
        <div class="col">
          <h3>John Jay</h3>
          
        </div>
      </a>
      <a href="https://dining.columbia.edu/content/jjs-place-0" target="_blank">
        <div class="col">
          <h3>JJs</h3>
        </div>
      </a>
      <a href="https://dining.columbia.edu/content/ferris-booth-commons-0" target="_blank">
        <div class="col">
          <h3>Ferris</h3>
        </div>
      </a>
      <a href="https://dining.columbia.edu/content/faculty-house-0" target="_blank">
        <div class="col">
          <h3>Fac House</h3>
        </div>
      </a>
      <a href="https://dining.columbia.edu/chef-mikes" target="_blank">
        <div class="col">
          <h3>Chef Mike's</h3>
        </div>
      </a>
      <a href="https://dining.columbia.edu/content/chef-dons-pizza-pi" target="_blank">
        <div class="col">
          <h3>Chef Don's</h3>
        </div>
      </a>
      <a href="https://dining.columbia.edu/content/grace-dodge-dining-hall-0" target="_blank">
        <div class="col">
          <h3>Grace Dodge</h3>
        </div>
      </a>
      <a href="https://dining.columbia.edu/content/fac-shack" target="_blank">
        <div class="col">
          <h3>Fac Shack</h3>
        </div>
      </a>
      <a href="https://dineoncampus.com/barnard" target="_blank">
        <div class="col">
          <h3>Diana</h3>
        </div>
      </a>
      <a href="https://dineoncampus.com/barnard/whats-on-the-menu" target="_blank">
        <div class="col">
          <h3>Hewitt</h3>
        </div>
      </a>
      <div>{{halls}} </div>
    </div>
  </body>
</html>