<!DOCTYPE html>
<!--
  Probably won't use a landing page bc the point is to be rly straightforward and limit clicking around. But it could be so cute :(
  
  If we did use it, this doc would be index.html and things would have to move around
-->
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Lion Dine</title>
    <link rel="stylesheet" href="..\static\header.css">
    <link rel="stylesheet" href="..\static\general.css">
    <link rel="stylesheet" href="..\static\intro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="intro-header">Lion Dine</header>
    <div class="intro-container">
      <a href="breakfast.html">Breakfast</a>
      <a href="lunch.html">Lunch</a>
      <a href="dinner.html">Dinner</a>
    </div>
  </body>
</html>